body{
    padding:5%;
    font-family: 'Courier New', Courier, monospace;
    background-color:bisque
}
img{
    border-radius: 5%;
}

.follow-me-btn{
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #cfd9de;
    
    font-weight: bold;
    background-color: white;
    font-size: 14px;
    
}
.fllow-me-btn-link{
    text-decoration: none;
    color: #0f1419;
}
